@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');



body {
    background:  rgba(255,255,100,.5);
    margin:0px;

}

body h1{
    color:#000;
    font-family:'Roboto Condensed',sans-serif;
    border-bottom:3px solid #000;
    margin:0px;
}

h2{
    color:#05f;
}
